{% extends 'base.html'%}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1">Home</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius eligendi illum quidem tenetur quibusdam, repellendus sed at praesentium ea autem. Est qui necessitatibus adipisci corrupti impedit illo voluptas. Quis deserunt ea, odit saepe quisquam beatae dolorem dolor, magnam fugit consequuntur possimus laudantium facere reprehenderit repellat nostrum voluptatem excepturi impedit, perspiciatis vero. Necessitatibus deleniti nemo assumenda architecto, laboriosam nulla saepe consectetur eos mollitia nisi, reprehenderit vitae asperiores atque adipisci unde placeat est aperiam tenetur animi quam aliquam. Cupiditate dignissimos sint molestias enim ullam quidem commodi, iste dicta ad, magnam tempora fugiat animi repudiandae. Corporis earum sint dignissimos deserunt? Nihil, itaque nulla!</p>    
    </section>    
</main>
{% endblock %}
